@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 15.1%;
  --card: 0 0% 96.7%;
  --card-foreground: 0 0% 3.9%;
  --border: 0 0% 89.8%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --accent: 0 0% 94.1%;
  --accent-foreground: 0 0% 9%;
  --ring: 0 0% 63.9%;
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 60.9%;
  --popover: 0 0% 7%;
  --popover-foreground: 0 0% 88%;
  --card: 0 0% 8%;
  --card-foreground: 0 0% 98%;
  --border: 0 0% 18%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --ring: 0 0% 14.9%;
}

.primary-editor {
  .tiptap {
    @apply fc-min-h-[40px] fc-border fc-border-border fc-bg-card fc-text-sm fc-rounded-xl fc-px-3 fc-py-1.5 fc-transition-colors hover:fc-bg-accent focus-visible:fc-outline-none focus-visible:fc-ring-2 focus-visible:fc-ring-ring focus-visible:fc-bg-card;
  }

  @apply aria-disabled:fc-opacity-80 aria-disabled:fc-cursor-not-allowed;
}

.secondary-editor {
  .tiptap {
    @apply fc-min-h-[40px] fc-bg-transparent fc-text-sm fc-p-1.5 focus-visible:fc-outline-none;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  @apply fc-text-muted-foreground;
}
